.StripeCheckout {
  background: var(--primary-color) !important;
  border-radius: 0px !important;
  margin: 0px auto;
  width: 25vw;
  height: 6vh;

  @media screen and (max-width: 800px) {
    width: 80vw;
  }

  span {
    background-image: unset !important;
    box-shadow: unset !important;
    text-shadow: unset !important;
    font-family: var(--font-family);
    font-size: 20px;
    position: relative;
    padding: 0px 12px;
    display: block;
    height: 6vh !important;
    line-height: 6vh !important;
    color: var(--white);
    font-weight: bold;
    box-shadow: unset;
    text-shadow: unset;
    border: 0px;

    &:hover {
      background-color: var(--black);
      color: var(--black);
      border-radius: 0px !important;
      border: 0px !important;
    }

    @media screen and (max-width: 800px) {
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
